<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erickhene.dao.KelasTabMapper">

    <resultMap id="BaseResultMap" type="com.erickhene.entity.Base">
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
        <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate" />
        <result column="enabled" jdbcType="BOOLEAN" property="enabled" />
    </resultMap>

    <resultMap id="KelasResultMap" type="com.erickhene.entity.impl.Kelas" extends="BaseResultMap">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="k_name" jdbcType="VARCHAR" property="name" />
        <result column="k_tingkatan_kelas_uuid" jdbcType="VARCHAR" property="tingkatanUuid" />
        <result column="k_tahun_akademik_uuid" jdbcType="VARCHAR" property="tahunAkademikUuid" />
    </resultMap>

    <select
            id="selectAll"
            resultMap="KelasResultMap"
            parameterType="map"
    >
        SELECT results.* FROM (
            SELECT
                kt.*,
                tat.enabled AS tat_enabled,
                tat.ta_status AS tat_status,
                tat.ta_name AS tat_name,
                tkt.tk_name AS tkt_name
            FROM
                kelas_tab kt,
                tahun_akademik_tab tat,
                tingkatan_kelas_tab tkt
            WHERE
                kt.enabled = 1
            AND
                tat.uuid = kt.k_tahun_akademik_uuid
            AND
                tat.enabled = 1
            AND
                tat.ta_status = 1
        ) AS results
        WHERE
            results.k_name
        LIKE
            '%${search}%'
        ORDER BY
            results.k_name ASC
        LIMIT
            ${number}, ${size}
    </select>

    <select
            id="selectByUuid"
            parameterType="String"
            resultMap="KelasResultMap"
    >
        SELECT
            kt.*,
            tat.enabled AS tat_enabled,
            tat.ta_status AS tat_status
        FROM
            kelas_tab kt,
            tahun_akademik_tab tat
        WHERE
            kt.enabled = 1
        AND
            kt.uuid = '${value}'
        AND
            tat.uuid = kt.k_tahun_akademik_uuid
        AND
            tat.enabled = 1
        AND
            tat.ta_status = 1
    </select>
</mapper>