<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erickhene.dao.MataPelajaranTabMapper">

    <resultMap id="BaseResultMap" type="com.erickhene.entity.Base">
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
        <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate" />
        <result column="enabled" jdbcType="BOOLEAN" property="enabled" />
    </resultMap>

    <resultMap id="MataPelajaranResultMap" type="com.erickhene.entity.impl.MataPelajaran" extends="BaseResultMap">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="m_name" jdbcType="VARCHAR" property="name" />
        <result column="m_kkm" jdbcType="VARCHAR" property="kkm" />
        <result column="m_tahun_akademik_uuid" jdbcType="VARCHAR" property="tahunAkademikUuid" />
    </resultMap>

    <select
            id="selectAll"
            resultMap="MataPelajaranResultMap"
            parameterType="map"
    >
        SELECT
            results.*
        FROM
            (
                SELECT
                    m.*,
                    tat.enabled AS tat_enabled,
                    tat.ta_status AS tat_status
                FROM
                    mata_pelajaran_tab m,
                    tahun_akademik_tab tat
                WHERE
                    m.enabled = 1
                AND
                    tat.uuid = m.m_tahun_akademik_uuid
                AND
                    tat.enabled = 1
                AND
                    tat.ta_status = 1
            ) AS results
        WHERE
            results.m_name
            LIKE '%${search}%'
        ORDER BY results.m_name ASC
        LIMIT ${number}, ${size}
    </select>

    <select
            id="selectByUuid"
            resultMap="MataPelajaranResultMap"
            parameterType="String"
    >
        SELECT
            mt.*,
            tat.enabled AS tat_enabled,
            tat.ta_status AS tat_status
        FROM
            mata_pelajaran_tab mt,
            tahun_akademik_tab tat
        WHERE
            mt.enabled = 1
        AND
            mt.uuid = '${value}'
        AND
            tat.uuid = mt.m_tahun_akademik_uuid
        AND
            tat.enabled = 1
        AND
            tat.ta_status = 1
    </select>
</mapper>