<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erickhene.dao.TahunAkademikTabMapper">

    <update
            id="setTahunAkademikStatus"
            parameterType="String"
    >
        UPDATE tahun_akademik_tab SET ta_status = CASE
        WHEN uuid = '${value}' THEN 1
        ELSE 0
        END;
    </update>
</mapper>